/*
* Reactive Mirror Config Sample
*/

export default {
  language: 'en',
  timeFormat: 24,
  units: 'metric',
  modules: [
    {
      name: 'Clock',
      position: 'top_left',
    },
    {
      name: 'Calendar',
      position: 'top_left',
      config: {
        calendars: [
          {
            symbol: 'calendar-check-o ',
            url: 'webcal://www.calendarlabs.com/templates/ical/US-Holidays.ics'
          }
        ]
      }
    },
    {
      name: 'CurrentWeather',
      position: 'top_right',
      config: {
        location: 'New York',
        locationID: '5128581',  // ID from http://www.openweathermap.org/help/city_list.txt
        appid: 'YOUROWN'
      }
    },
    {
      name: 'WeatherForecast',
      position: 'top_right',
      config: {
        location: 'New York',
        locationID: '5128581',  // ID from http://www.openweathermap.org/help/city_list.txt
        appid: 'YOUROWN'
      }
    },
    {
      name: 'Compliments',
      position: 'lower_third',
    },
    {
      name: 'Snow',
      position: 'fullscreen_above',
      hide: true,
      config: {
        flakCount: 100,
      }
    },
    {
      name: 'NewsFeed',
      position: 'bottom_bar',
      config: {
        apiKey: 'YOUROWN',
        showSourceTitle: true,
        showPublishDate: true
      }
    },
    {
      name: 'Jokes',
      hide: true,
      position: 'bottom_bar',
    },
    {
      name: 'alert',
      hide: true,
    }
  ]
};
